/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
	margin:0;
	padding:0;
	border:0;			
	width:100%;
	background:#fff;
	min-width:600px;    	
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}

p {
	margin:.4em 0 .8em 0;
	padding:0;
}


/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header h1{
    margin-left:30px;
    font-variant: small-caps;
    font-size:14pt;
    color: #337;
    margin-top:1em;
    margin-bottom:1px;
    float:right;
}
.centered {margin:auto;text-align:center;}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
    border-radius: 5px 9px 0px 0px;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	
	clear:both;
	float:left;
	width:100%;			
	overflow-x:hidden;		
}
/* Column wrap */
.colright,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow-x:hidden;
}
/* Wiki Contents*/
#content {
    border-top:1px dashed #9e9;
    border-bottom:.1em dashed #9e9;
    margin-top:19px;
    margin-bottom:4px;
    padding:15px 10px;
	height: 450px;
	overflow-y:scroll;
} 
 
ul.topiclist {list-style-type: none;width:75%;}
ul.topiclist li h4{display: block;font-size: 14px;line-height: 22px;margin: 0;padding: 0 0 0 24px;}
li p.wikicontent{margin: 3px 0 0 25px;padding: 0;line-height: 15px;font-size: 12px;}
li p.tags {font-size:11px;font-style: italic;margin: 3px 0 0 25px;padding:2px 0;}
li p.stats{font-size: 11px;color: #666; line-height: normal;margin: 3px 0 1.5em 25px;padding: 0;border-bottom: 1px dotted lightgrey;}	
#content li h4{display: block;font-size: 14px;line-height: 22px;margin: 0;padding: 0 0 0 24px;}
#content p.wikicontent{margin: 3px 0 0 25px;padding: 0;line-height: 15px;font-size: 12px;}
#content p.tags {font-size:11px;font-style: italic;margin: 3px 0 0 25px;padding:2px 0;}
#content p.stats{font-size: 11px;color: #666; line-height: normal;margin: 3px 0 1.5em 25px;padding: 0;border-bottom: 1px dotted lightgrey;}
#content .stats{
	/*    padding-top:1.5em;
		font-style:italic;
		word-spacing:5px;
		font-size:80%;
		padding-left:30px;*/
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		
}
.rightmenu .colleft {
	right:25%;			
	background:#fff;	
}
.rightmenu .col1 {
	width:71%;		
	left:27%;			
}
.rightmenu .col2 {
	width:21%;			
	left:31%;			
}
/* Footer styles */
#footer {
	clear:both;
	float:le
		ft;
	position: absolute;
	bottom:25px;
	width:100%;
	border-top:1px solid #000;
}

#footer p {
	padding:10px;
	margin:0;
}
